extends layout

block content
  section#about
    .about-textSection
      h1.about-title ABOUT
      img.icon(src='/images/experience.png' alt='Experience icon')
      p.about-textSection-p1
        | Demonstrating my skills coding with Express.js &amp; Pug!
      p.about-textSection-p2
        | Here is some Latin place holder text, Lorem ipsum dolor sit amet. Ut eius quidem sit odit 
        | consequatur qui voluptas similique.
      p.about-textSection-p2
        | Ex esse consequatur est galisum omnis eos omnis impedit At laudantium impedit.
      img.icon(src='/images/education.png' alt='Education icon')
      p.about-textSection-p1 Learning
      p.about-textSection-p2
        | I am learning as I go... Lorem ipsum dolor sit amet. Eum harum quibusdam sed velit dolorem ab dolores nesciunt.
        | Aut molestias illo est obcaecati quam sit.
      p.about-textSection-p2
        | Lorem ipsum dolor sit amet. Eum harum quibusdam sed velit.
        | Aut molestias illo.
      img.team-pic(src='/images/pic3.jpg' alt='Team picture')
