extends layout

block content

    .contact-container
        .contact-header
        img.contact-logo(src='/images/pugjs.png' alt='Logo')
        h2 Get in Touch
        p
            | We&apos;d love to hear from you. Whether you have a question, want to
            | collaborate, or need more information, feel free to reach out.
        .contact-details
        .contact-item
            img.contact-icon(src='/images/email-icon.png' alt='Email Icon')
            a(href='mailto:gornl2@mail.broward.edu') gornl2@mail.broward.edu
        .contact-item
            img.contact-icon(src='/images/phone-icon.png' alt='Phone Icon')
            a(href='tel:+123456789') +1 (234) 567-89
        .contact-item
            p Broward County, FL, USA 12345

        .social-icons
            a.social-icon(href='#')
            img(src='/images/facebook-icon.png' alt='Facebook Icon')
            a.social-icon(href='#')
            img(src='/images/twitter-icon.png' alt='Twitter Icon')
            a.social-icon(href='#')
            img(src='/images/instagram-icon.png' alt='Instagram Icon')
            a.social-icon(href='#')
            img(src='/images/linkedin-icon.png' alt='LinkedIn Icon')