extends layout

block content
  section#home
  .textSection
    img.about-pic(src='/images/pugjs.png' alt='Express Logo')
    h1.title WELCOME
    p.textSection-p1
      | Exploring the basics of Pug &amp; Express.js 
    p.textSection-p2
      | While incorporating my ability to create a site and expand upon it.
    .button-container
      a.button.button-color-2(href='/about') ABOUT

